#header{
    text-align: center;
    background-color:grey;
    font-family: 'Arial';
    color: rgb(17, 16, 16)

}


.listbtn{
    background-color: :grey;
    color: black;
    font-family: 'Arial';
    border-radius: 2px; 
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    margin-top: 2px;
    margin-bottom: 2px;

}


.left_div{
    height: 100%; 
}

.card-body{
    background-color::grey;
    color: black;
}

#searchbtn{
    background-color::grey;
    color: white;
    font-family: 'Arial';
    border-radius: 2px; 
    

}